* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

header {
  background: #3c3a39;
  width: 100%;
  height: 82px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu {
  margin: 0 25px 0 0;
}

nav a {
  display: none;
}

#logo {
  margin: 0 0 0 25px;
  height: 24px;
  width: 140px;
  left: 12px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  animation: spin 2s linear 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    font-size: 12px;
  }

  25% {
    transform: rotate(90deg);
    font-size: 10px;
  }

  50% {
    transform: rotate(180deg);
    font-size: 5px;
  }

  50% {
    transform: rotate(180deg);
    font-size: 14px;
  }

  100% {
    transform: rotate(360deg);
    font-size: 18px;
  }
}

main {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  background-image: url("images/illustra.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right 0 bottom 0;
  width: 100%;
  padding: 80px 24px 120px 24px;
}

#presentation h1 {
  margin-top: 10px;
  margin-bottom: 0;
  height: 124px;
  width: 100%;
  left: 24px;
  top: 120px;
  font-family: "Crete Round", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #ff6b00;
}

#presentation h3 {
  margin-top: 10px;
  height: 20px;
  width: 327px;
  left: 24px;
  top: 256px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  color: #fff5e1;
}

#presentation p {
  height: 123px;
  width: 327px;
  left: 24px;
  top: 295px;
  font-family: "Poppins", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
}

#socials {
  padding: 0;
  margin: 0;
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  list-style-type: none;
}

.medium-icon,
.twitter-icon {
  margin-left: -12px;
}

#middle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5%;
}

#middle h2 {
  height: 83px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  border-bottom: 1px solid black;
}

#middle img {
  width: 327px;
  height: 237px;
  margin: 0;
}

#middle .multi-post {
  margin-top: 0;
  padding: 0;
}

#middle h3 {
  margin-bottom: -5px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

#middle p {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  height: 147px;
  width: 327px;
  left: 0;
  top: 48px;
}

.tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 10px;
  width: 314px;
  height: 40px;
}

.tools li {
  padding: 10px 12px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  border: 1px solid #8993a4;
}

#last button {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  background: #ff6b00;
  width: 131px;
  height: 48px;
  border: none;
}

#middle div button {
  width: 124px;
  height: 48px;
  background-color: #ff6b00;
  border: none;
  padding: 0;
}

#middle button a {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

#middle button:active,
#last button:active {
  background-color: #e05304;
}

#middle button:active > *,
#last button:active {
  color: #f4f1f0;
}

#middle button:disabled,
#last button:disabled {
  background-color: #f4f1f0;
}

#middle button:disabled > *,
#last button:disabled {
  color: #5b5957;
}
.project-container {
  margin-bottom: 25%;
}

.projects {
  color: #fff;
  height: 386px;
  width: 327px;
  left: 0;
  top: 0;
  background-image: url("images/placeholder.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

#middle .projects h3 {
  margin: auto;
  height: 81px;
  width: 295px;
  left: 16px;
  top: 8px;
  color: #fff;
}

#middle .projects p {
  height: 99px;
  width: 295px;
  left: 16px;
  top: 101px;
}

#middle .projects li {
  color: #fff;
  background: #ffffff3d;
}

#middle .projects button {
  width: 100%;
}

#about-me {
  width: 100%;
  background: #1c1a19;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("images/background-img.png");
  background-repeat: no-repeat;
  background-position: right 1px bottom 68%;
}

#about-me h2 {
  font-family: "Crete Round", serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #ff6b00;
  height: 79px;
  width: 327px;
  left: 24px;
  top: 140px;
  margin-top: 130px;
}

#middle #about-me p {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  width: 327px;
  height: 148px;
}

#middle #about-me button {
  align-self: self-start;
  height: 48px;
  width: 156px;
  left: 1px;
  top: 395px;
  padding: 12px;
  margin-left: 25px;
}

#line {
  margin-top: 250px;
  padding: 5px;
  width: 85%;
  border-bottom: 1px solid #fff;
}

#knowledge {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  top: 8.7279052734375px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

#knowledge li:nth-child(1) {
  background-image: url("images/rhombus.png");
  background-repeat: no-repeat;
  background-size: 8.7%;
  background-position: left 50px bottom 84%;
}

#knowledge li:nth-child(2) {
  background-image: url("images/square.png");
  background-repeat: no-repeat;
  background-size: 6%;
  background-position: left 40px bottom 83%;
}

#knowledge li:nth-child(3) {
  background-image: url("images/circle.png");
  background-size: 6%;
  background-repeat: no-repeat;
  background-position: left 109px bottom 86%;
}

.main-list {
  align-self: center;
  padding-top: 35px;
  font-family: "Inter", serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: white;
  width: 100%;
}

.main-list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
}

#middle .main-list ul li {
  margin: 15px auto 15px auto;
  height: 24px;
  width: 255px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
  color: white;
  background-image: none;
}

#last {
  background: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#last h2 {
  width: 327px;
  height: 262px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 138%;
  text-align: center;
  color: #172b4d;
  margin: 80px 24px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 327px;
  height: 330px;
  top: 400px;
  margin-left: 24px;
}

form input {
  height: 28px;
  width: 90%;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  padding: 20px 0 20px 15px;
}

form textarea {
  margin: 0;
  height: 114px;
  padding-left: 18px;
  width: 90%;
  border: none;
  font-family: "Inter", serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  background: #fbf8f7;
}

input[type="text"],
textarea[type="text"]::-webkit-input-placeholder {
  color: #3c3a39;
}

footer {
  border-top: 1px solid #dfe1e6;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  background-image: url("images/home-indicator.png");
  background-repeat: no-repeat;
  background-position: bottom 15px left 48%;
}

#socials-footer {
  padding: 0 0 50px 0;
  width: 200px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  filter: brightness(0.35);
}

@media screen and (min-width: 768px) {
  header {
    height: 72px;
  }

  #logo {
    margin-left: 142px;
  }

  #logo:hover {
    transform: scale(1.1);
  }

  #menu {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 455px;
  }

  nav a {
    display: contents;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: #fff;
    width: 63px;
    height: 20px;
  }

  nav a img {
    width: 25px;
    height: 22px;
  }

  nav a h3:hover,
  a img:hover {
    transform: scale(1.35);
  }

  main {
    background-image: url("images/illustration-header.png");
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: right 0 bottom 0;
  }

  #presentation {
    display: flex;
    align-items: center;
  }

  #presentation h1 {
    margin-top: 92px;
    font-size: 72px;
    line-height: 82px;
    width: 450px;
    height: 160px;
  }

  #presentation h3 {
    font-size: 32px;
    line-height: 44px;
    width: 566px;
    height: 24px;
  }

  #presentation p {
    font-size: 20px;
    line-height: 32px;
    width: 566px;
    height: 123px;
  }

  #socials {
    flex-direction: column;
    float: left;
    order: -1;
    width: 40px;
    height: 200px;
    margin: 0 5% 0 0;
  }

  #middle {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
    margin: 5% 0 0 0;
  }

  #middle h2 {
    float: left;
    width: 315px;
    height: 52px;
    font-size: 40px;
    line-height: 52px;
    border: none;
    align-self: center;
  }

  .border-animation {
    border: 1px solid black;
    height: 0;
    width: 60%;
    align-self: center;
  }

  #middle img {
    width: 684px;
    height: 448px;
  }

  #middle img:hover {
    transform: scale(1.08);
    translate: -8%;
  }

  #middle h3 {
    margin-top: 15px;
    font-size: 40px;
    line-height: 52px;
    width: 448px;
    height: 48px;
  }

  #middle p {
    font-size: 20px;
    line-height: 28px;
    width: 448px;
    height: 140px;
  }

  .project-container {
    display: grid;
    grid-template-columns: repeat(3, 359px);
    grid-template-rows: repeat(2, 365px);
    justify-content: center;
    row-gap: 7%;
    margin-bottom: 10%;
  }

  .projects {
    max-height: 435px;
    max-width: 369px;
    overflow: hidden;
  }

  .projects:hover > *:not(button) {
    display: none;
  }

  .projects:hover {
    transform: scale(1.1);
  }

  #middle .projects h3 {
    margin-top: 40%;
    font-size: 32px;
    line-height: 44px;
    max-width: 337px;
    max-height: 81px;
  }

  #middle .projects p {
    font-size: 17px;
    line-height: 24px;
    max-width: 337px;
    max-height: 72px;
  }

  #last button {
    align-self: self-start;
    width: 122px;
  }

  #middle .projects button {
    margin-top: 103.39%;
  }

  #middle button:hover,
  #last button:hover {
    background-color: #fff5e1;
    transform: scale(1.2);
  }

  #middle button:hover > *,
  #last button:hover {
    color: #ff6b00;
  }

  #about-me {
    background-image: url("images/aboutme-background.png");
    background-repeat: no-repeat;
    background-position: right 0 top 13%;
    height: 1200px;
  }

  #text-aboutme {
    align-self: self-start;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
  }

  #about-me h2 {
    width: 566px;
    height: 78px;
    font-size: 72px;
    line-height: 82px;
    margin-bottom: 4%;
  }

  #middle #about-me p {
    width: 566px;
    height: 148px;
    font-size: 20px;
    line-height: 32px;
  }

  #middle #about-me button {
    width: 156px;
    height: 48px;
    margin-left: 0;
  }

  #line {
    margin: 125px 0 125px 0;
    width: 80%;
  }

  #knowledge {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    text-align: center;
    justify-content: start;
    gap: 10%;
  }

  #knowledge li:nth-child(1) {
    background-position: left 6% bottom 40%;
  }

  #knowledge li:nth-child(2) {
    background-position: left 8% bottom 45%;
  }

  #knowledge li:nth-child(3) {
    background-position: left 0 bottom 47%;
    padding-right: 12%;
  }

  .main-list {
    padding: 0 0 0 0;
    width: 299.46px;
    height: 41.46px;
    font-size: 32px;
    line-height: 44px;
  }

  #middle .main-list ul li {
    width: 255px;
    height: 24px;
    font-size: 22px;
    line-height: 43px;
    text-align: left;
  }

  #last {
    width: 100%;
    flex-direction: row;
    align-items: start;
  }

  #last h2 {
    margin: 100px 0 0 8%;
    width: 420px;
    height: 256px;
    font-size: 40px;
    line-height: 52px;
    color: #262626;
    text-align: left;
  }

  form {
    width: 50%;
    height: 330px;
    margin: 100px 0 0 5%;
  }

  form input {
    height: 28px;
    width: 100%;
    padding: 20px 0 20px 10px;
  }

  input:hover::-webkit-input-placeholder {
    translate: 1%;
  }

  form textarea {
    height: 114px;
    padding-left: 10px;
    width: 100%;
  }

  footer {
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: none;
    padding: 0;
  }

  #socials-footer {
    padding: 0;
  }
}
