* {
  box-sizing: border-box;
}

header {
  top: 0;
  left: 0;
  background: #3c3a39;
  width: 375px;
  height: 92px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  align-items: center;
}

.top {
  margin: 0 30px 0 20px;
  padding-top: 30px;
}

#logo {
  margin: 0 0 0 24px;
  padding-top: 18px;
  height: 24px;
  width: 70px;
  left: 12px;
  top: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
}

main {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  background-image: url("/images/illustra.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right 0 bottom 0;
  position: absolute;
  height: 590px;
  width: 375px;
  left: 0;
  top: 92px;
  border-radius: 0;
  padding: 80px 24px 120px 24px;
}

#presentation h1 {
  margin-top: 10px;
  margin-bottom: 0;
  height: 124px;
  width: 327px;
  left: 24px;
  top: 120px;
  font-family: sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #ff6b00;
}

#presentation h3 {
  margin-top: 10px;
  height: 20px;
  width: 327px;
  left: 24px;
  top: 256px;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  color: #fff5e1;
}

#presentation p {
  height: 123px;
  width: 327px;
  left: 24px;
  top: 295px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
}

#socials {
  margin-top: 0;
  margin-left: 0;
  height: 10%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: start;
}
ul {
  padding: 0;
}
li {
  margin: 0 auto 0 auto;
  list-style-type: none;
}
